.Pod {
  margin-bottom: 70px;
  text-align: center;
  .title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: bold;
  }
  img {
    margin: 0 auto;
  }
}

@media (max-width: 760px) {
  .Pod {
    margin: 10px 0 50px 0;
    img {
      max-width: 230px;
    }
  }
}