.MadeBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 70px 0;
  .title {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px dotted;
  }
  .innerPersons {

  }
  .position {
    font-weight: bold;
    margin-right: 5px;
  }
  .list {
    position: absolute;
    top: 30px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 3px;
    > div {
      &:last-child {
        ul {
          margin-bottom: 0;
        }
      }
    }

    ul {
      padding: 0;
      list-style: none;
      margin-bottom: 30px;
      margin-top: 0;
      li {
        margin-bottom: 5px;
        display: flex;
      }
      a {
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .name {
  }

  .outPersons {
  }

  .names {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 760px){
  .MadeBy {
    margin-top: 0;
    .list {
      margin: 0 10px;
    }
  }
}