.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  max-width: 1920px;
  margin: 0 auto;
  img {
    display: block;
    max-width: 100%;
    will-change: transform;
  }
}

//loading
.imagesLoading {
  display: none;
  img {
    width: 0;
  }
}

//effects
.image-cover {
  //overflow: hidden;
  display: block;
  img {
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
    will-change: transform
  }
  &:hover img {
    transform: scale(1.05);
  }
}

.animate {
  will-change: opacity, transform;
  -webkit-transition: -webkit-transform .5s ease, opacity .5s ease;
  -moz-transition: -moz-transform .5s ease, opacity .5s ease;
  -ms-transition: -ms-transform .5s ease, opacity .5s ease;
  -o-transition: -o-transform .5s ease, opacity .5s ease;
  transition: transform .5s ease, opacity .5s ease;
  opacity: 0;

  &.duration1 {
    -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
    -moz-transition: -moz-transform 1s ease, opacity 1s ease;
    -ms-transition: -ms-transform 1s ease, opacity 1s ease;
    -o-transition: -o-transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
  }

  &.fadeDown {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.fadeUp {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  &.fadeToLeft {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  &.fadeToRight {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  &.animateStart {
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
    -ms-transform: translateX(0px) !important;
    -o-transform: translateX(0px) !important;
    transform: translateX(0px) !important;
    opacity: 1;
  }
}

//
#root {
  background-color: #14628B;
  padding-top: 60px;

}

.btn, #form .btn {
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  color: #14628B;
  font-weight: 600;
  width: fit-content;
  padding: 18px 30px;
  transition: .3s;
  border: none !important;
  box-shadow: 0 2px 4px #3e3e3e;
  text-decoration: none;
  &:after {
    display: none;
  }
  &:hover {
    background: #073b56;
    color: #fff;
  }
  &.blue {
    background: #14628B;
    color: #fff !important;
    &:hover {
      background: #073b56;
    }
  }
  &.top {
    padding: 10px 10px;
    justify-content: center;
    font-weight: normal;
  }
}

//navbar
#navbar {
  background-color: #fff; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 9;
  padding: 0;
  .mail {
    display: flex;
    align-items: center;
    flex-direction: row;
    img {
      margin-right: 3px;
    }
  }
  .logo {
    max-width: 60px;
    margin-right: 30px;
  }
  &.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }
  //&.scroll {
  //  padding: 5px 0;
  //  .logo {
  //    max-width: 40px;
  //  }
  //}
  .container {
    align-items: center;
  }
  .menu {
    margin-left: auto;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  a {
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    flex-direction: column;
    align-items: center;
    outline: none;
    &:after {
      content: '';
      width: 0;
      height: 1px;
      background: #000;
      transition: .3s;

    }
    &:hover {
      color: black;
      &:after {
        width: 100%;
      }
    }
  }
}

//top
#top {
  .container {
    position: relative;
  }
  .border {
    background: linear-gradient(
                    180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .sub {
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
  }
  h1 {
    font-size: 60px;
    line-height: 1;
    margin: 10px 0 30px;
    text-transform: uppercase;
  }
  .desc {
    font-size: 26px;
    line-height: 1;
    font-weight: 300;
    max-width: 377px;
    margin-bottom: 30px;
  }
  .flex {
    align-items: center;
    .item1 {
      padding-left: 30px;
      flex-shrink: 0;
    }
    .item2 {
      padding-top: 30px;
    }
  }
}

//section1
#section1 {
  margin: 70px 0;
  .flex {
    .item1 {
      flex-shrink: 0;
      text-align: center;
      .prof {
        font-weight: 600;
        margin-top: -25px;
      }
      .name {
        max-width: 300px;
        margin: 0 auto;
      }
    }
    .item2 {
      margin-top: 30px;
      .title {
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 25px;
        text-transform: uppercase;
      }
    }
  }
}

//section2
#section2 {
  margin: 70px 0;
  .title {
    color: #14628B;
    font-weight: 600;
    font-size: 30px;
    background-color: #fff;
    border-radius: 0 15px 0 0;
    line-height: 1;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 0 30px -15px;
  }
  .container {
    position: relative;
  }
  .border {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .flex {
    flex-wrap: wrap;
    .item {
      flex-shrink: 0;
      width: 50%;
      display: flex;
      align-items: center;
      padding: 0 30px;
      margin-bottom: 50px;
      .number {
        font-weight: 600;
        font-size: 72px;
        line-height: 1;
        margin-right: 15px;
      }
    }
  }
}

//section3
#section3 {
  margin: 70px 0;
  .titleWrap {
    text-align: right;
  }
  .title {
    color: #14628B;
    font-weight: 600;
    font-size: 30px;
    background-color: #fff;
    border-radius: 0 0 0 15px;
    line-height: 1;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 -15px 30px 0;
  }
  .sub {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .slider {
    padding: 0 50px;
  }
  .flex {
    margin: 70px 0;
    justify-content: center;
    .item {
      width: 27%;
      text-align: center;
      padding: 0 15px;
      .number {
        font-weight: 600;
        margin: 10px 0;
      }

      img {
        margin: 0 auto;
      }
    }
  }
  .container {
    position: relative;
  }
  .border {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
    width: 8px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .keen-slider {
    .keen-slider__slide {
      background: #FFFFFF;
      border-radius: 20px;
      padding: 15px 15px 30px;
      text-align: center;
      color: #14628B;

      .imgWrap {
        max-height: 215px;
        overflow: hidden;
        border-radius: 20px;
      }
      .name {
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      .year {
        margin-top: 15px;
      }
    }
  }
  .arrows {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    .arrow {
      width: 35px;
      color: #fff;
      fill: #fff;
      border: 1px solid;
      border-radius: 100%;
      padding: 8px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .7;
      }
      &.arrow--right {
        margin-left: 15px;
      }
    }
  }
  .dots {
    display: none;
  }
}

//section4
#section4 {
  margin: 70px 0;
  .title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .flex {
    .item1 {
      padding-right: 30px;
      position: relative;
      .el {
        position: relative;
        top: 50px;
        left: 70px;
      }
      .sub {
        max-width: 364px;
      }
    }
    .item2 {
      flex-shrink: 0;
      #form {
        width: 400px;
        background: #FFFFFF;
        box-shadow: 0 8px 30px rgba(255, 255, 255, 0.25);
        border-radius: 0 24px;
        border: 4px solid #EEE488;
        padding: 35px;
        .titleForm {
          color: #14628B;
          font-size: 24px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 15px;
        }
        input {
          width: 100%;
          margin: 15px 0;
          border: none;
          border-bottom: 1px solid #55a1ca;
          &.btn {
            border: none;
          }
          &:focus {
            outline: none;
          }
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #55a1ca;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #55a1ca;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: #55a1ca;
          }
        }
      }
    }
  }
}

//section5
#section5 {
  margin: 70px 0;
  .title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }

  .flex1 {
    align-items: center;
    .item1 {
      width: 450px;
      flex-shrink: 0;
      .flex {
        background-color: #fff;
        border-radius: 25px 0;
        padding: 35px 25px;
        color: #14628B;
        flex-direction: column;
        font-weight: 600;
        .item {
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          img {
            margin-right: 10px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .item2 {
      padding-left: 50px;
      p:first-child {
        margin-bottom: 0;
      }
      ul {
        list-style: none;
        padding: 0 0 0 15px;
        li {
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 100%;
    margin: 0 4px;
    padding: 0;
    transition: .3s;
    background: #fff;
    &.active {
      background-color: #000;
    }
  }

}

//section6
#section6 {
  margin: 70px 0;
  .title {
    color: #14628B;
    font-weight: 600;
    font-size: 30px;
    background-color: #fff;
    border-radius: 0 15px 0 0;
    line-height: 1;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 0 30px -15px;
  }
  .container {
    position: relative;
  }
  .border {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .slider {
    position: relative;
    .bgLeft {
      background: linear-gradient(
                      90deg
              , #14628B 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
      width: 60px;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: -10px;
      left: -1px;
    }
    .bgRight {
      background: linear-gradient(
                      -90deg
              , #14628B 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
      width: 60px;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: -10px;
      right: -1px;
    }
  }
}

//section7
#section7 {
  margin: 70px 0 0;
  padding-bottom: 70px;
  .title {
    color: #14628B;
    font-weight: 600;
    font-size: 30px;
    background-color: #fff;
    border-radius: 0 15px 0 0;
    line-height: 1;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 0 30px -15px;
  }
  .container {
    position: relative;
  }
  .border {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 10%);
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .flex1 {
    .item1 {
      padding-right: 50px;
      padding-left: 30px;
    }
    .item2 {
      flex-shrink: 0;
      .map {
        overflow: hidden;
        border-radius: 0 24px;
        filter: drop-shadow(0px 8px 30px rgba(255, 255, 255, 0.2));
        width: 670px;
        height: 98%;
      }
    }
  }
  .flex2 {
    flex-direction: column;
    justify-content: space-between;

    .btn {
      margin-bottom: 15px;
      &.call {
        text-decoration: none;
        padding: 10px 15px;
      }
    }
    .mail {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
    .adres {
      margin: 40px 0;
    }
    .soc {
      align-items: center;
      a {
        margin-right: 15px;
      }
    }
  }
}

//footer
#footer {
  text-align: center;
  background-color: #fff;
  padding: 15px 0;
  color: #000;
  .flex {
    align-items: center;
    justify-content: center;
    img {
      max-width: 40px;
      margin-right: 15px;
    }
  }
}