@media (max-width: 1100px) {
  .container {
    padding: 0 15px;
    margin: 0 15px;
  }
  #navbar a {

    font-size: 14px;
  }
}

@media (max-width: 960px) {
  #root {
    font-size: 18px;
  }
  #section7 .flex1 .item2 {
    width: 60%;
  }
  #section7 .flex1 .item2 .map {
    width: auto;
  }
  #navbar a {
    font-size: 11px;
  }
  #navbar .logo {
    margin-right: 15px;
  }
  #navbar .container {
    padding: 0;
  }
  #top .sub {
    font-size: 30px;
  }
  #top h1 {
    font-size: 40px;
  }
  #top .desc {
    font-size: 20px;
  }
  #section1 .flex .item1 {
    max-width: 50%;
  }
  #section1, #section2, #section3, #section4, #section5, #section6, #section7 {
    margin: 50px 0;
  }
  #section1 .flex .item2 .title, #section2 .title, #section3 .title, #section4 .title, #section5 .title, #section6 .title, #section7 .title {
    font-size: 24px;
  }
  #section5 {
    .flex {
      .item1 {
        max-width: 50%;
      }
      .item2 {
        padding-left: 30px;
      }
    }
  }
}

@media (max-width: 760px) {
  .animate {
    &.fadeUp {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .container {
    max-width: 480px;
  }
  //
  #root {
    padding-top: 42px;
    font-size: 16px;
  }
  #navbar {
    padding: 2px 0;
    .call {
      display: none;
    }
    .logo {
      max-width: 40px;
    }
    .menu {
      flex-direction: column;
      position: absolute;
      top: 42px;
      left: -100%;
      background: #f4f4ff;
      padding: 25px 50px;
      transition: .3s;
      align-items: flex-start;
      a {
        align-items: flex-start;
        margin-left: 0;
        margin-bottom: 15px;
        font-size: 16px;
        &.mail {
          margin-bottom: 0;
          align-items: center;
        }
      }
      &.active {
        left: 0;
      }
    }
    .burger {
      margin-left: 25px;
      cursor: pointer;
      div {
        width: 27px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
      }
    }
    .flexMob {
      align-items: center;
      width: 100%;
      justify-content: space-between;
      a {
        margin-right: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-weight: bold;
        img {
          width: 30px;
          margin-right: 10px;
          will-change: transform;
        }
      }
    }
  }

  #top {
    .sub {
      font-size: 24px;
      margin-top: 30px;
    }
    .desc {
    }
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
      }
      .item1 {
        padding-left: 15px;
      }
    }

  }
  section {
    .border {
      width: 4px;
    }
  }
  #section1, #section2, #section3, #section4, #section5, #section6, #section7 {
    margin: 30px 0;
  }
  #section1 .flex .item2 .title, #section2 .title, #section3 .title, #section4 .title, #section5 .title, #section6 .title, #section7 .title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
  }

  //section4
  #section4 {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        max-width: 100%;
        #form {
          width: 100%;
          max-width: 360px;
        }
      }
    }
  }
  //section1
  #section1 {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        max-width: 100%;
        &.item1 {
          .prof {
            margin-top: -15px;
          }
        }
      }
    }
  }
  //section2
  #section2 {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
        .number {
          font-size: 48px;
        }
      }
    }
  }
  //section3
  #section3 {
    .sub {
      margin-bottom: 15px;
      padding: 0 15px;
    }
    .slider {
      padding: 0;
      max-width: 300px;
      margin: 0 auto;
      .imgWrap {
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
    }
    .dots {
      display: flex;
    }
    .flex {
      flex-wrap: wrap;
      margin: 30px 0;
      .item {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  //section4
  #section4 {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        max-width: 100%;
        &.item1 .el {
          display: none;
        }
        #form {
          max-width: 330px;
          margin: 30px auto 0 auto;
          padding: 25px;
        }
      }
    }
  }
  //section5
  #section5 {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        max-width: 100%;
        &.item1 {
          order: 2;
        }
        &.item2 {
          padding: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
  //section6
  #section6 {
    .bgLeft, .bgRight {
      display: none;
    }
  }
  //section7
  #section7 {
    padding-bottom: 0;
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        &.item {
          padding: 0 0 0 15px;
        }
      }
    }
    .flex2 {
      .btn1 {
        margin-top: 15px;
      }
    }
  }
}